@import url(http://fonts.googleapis.com/css?family=Open+Sans);




#cssmenu-1 ul ul li.has-sub-mid > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu-1.align-right ul ul li.has-sub-mid > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
#cssmenu-1 ul ul li.has-sub-mid:hover > a::after {
  border-color: #ffffff;
}
#cssmenu-1 > ul > li.has-sub-mid > a {
  padding-right: 5px;
}
#cssmenu-1 > ul > li.has-sub-mid > a::after {
  position: absolute;
  top: 10px;
  left: 60px;
  width: 4px;
  height: 4px;
 /** border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;**/
}
#cssmenu-1 > ul > li.has-sub-mid:hover > a::after {
  border-color: #009ae1;
}







#cssmenu-1 ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu-1 li:hover > ul {
  left: auto;
}
#cssmenu-1.align-right li:hover > ul {
  right: 0;
}
#cssmenu-1 ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu-1.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu-1 ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu-1 ul li:hover > ul > li {
  height: 32px;
}
#cssmenu-1 ul ul li a {
  padding: 10px 20px;
  width: auto;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu-1 ul ul li:hover > a,
#cssmenu-1 ul ul li a:hover {
  color: #ffffff;
}
#cssmenu-1 ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
/** border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;**/
}
#cssmenu-1.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu-1 ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}









#cssmenu-1,
#cssmenu-1 ul,
#cssmenu-1 ul li,
#cssmenu-1 ul li a,
#cssmenu-1 #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index:20001;
  	
}
#cssmenu-1:after,
#cssmenu-1 > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu-1 #menu-button {
  display: none;
}
#cssmenu-1 {
  width: auto;
  font-family:font-family:Verdana, Geneva, sans-serif;
  font-size:11px;
  line-height: 1;
  background: #ffffff;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu-1 > ul > li {
  float: left;
 

}
#cssmenu-1.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu-1.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu-1.align-center ul ul {
  text-align: left;
}
#cssmenu-1.align-right > ul > li {
  float: right;
}
#cssmenu-1.align-right ul ul {
  text-align: right;
}
#cssmenu-1 > ul > li > a {
  padding: 6px;
  font-weight:normal;
  font-size: 11px;
  text-decoration: none;

  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu-1 > ul > li:hover > a,
#cssmenu-1 > ul > li.active > a {
  color: #000;
}
#cssmenu-1 > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu-1 > ul > li.has-sub > a::after {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 4px;
  height: 4px;
 /**  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;**/
}
#cssmenu-1 > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}





#cssmenu-1 ul ul li.has-sub-mid > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  /** border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  content: "";
 -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;**/
}
#cssmenu-1.align-right ul ul li.has-sub-mid > a::after {
  right: auto;
  left: 10px;
  
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
#cssmenu-1 ul ul li.has-sub-mid:hover > a::after {
  border-color: #ffffff;
}
#cssmenu-1 > ul > li.has-sub-mid > a {
  padding-right: 5px;
}
#cssmenu-1 > ul > li.has-sub-mid > a::after {
  position: absolute;
  top: 10px;
  left: 60px;
  width: 4px;
  height: 4px;
  /**border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;**/
}
#cssmenu-1 > ul > li.has-sub-mid:hover > a::after {
  border-color: #009ae1;
}







#cssmenu-1 ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu-1 li:hover > ul {
  left: auto;
}
#cssmenu-1.align-right li:hover > ul {
  right: 0;
}
#cssmenu-1 ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu-1.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu-1 ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu-1 ul li:hover > ul > li {
  height: 32px;
  background:#333333;
}
#cssmenu-1 ul ul li a {
  padding: 10px 20px;
  width: 233px;
  font-size:0 12px;
  background:#333333;
  text-decoration: none;
  color: #ddddd0d;
  -webkit-transit0ion: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
 
}
#cssmenu-1 ul ul li:hover > a,
#cssmenu-1 ul ul li a:hover {
  color: #ffffff;
}
#cssmenu-1 ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
 /** border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;**/
}
#cssmenu-1.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu-1 ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
